<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbe4uyt0Y7s-Q61b42P8k1epv38fK7vmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>702724926462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AutoDex</string>
	<key>PROJECT_ID</key>
	<string>autodex-e3edc</string>
	<key>STORAGE_BUCKET</key>
	<string>autodex-e3edc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702724926462:ios:f87b02e90ba0639cf26eaf</string>
</dict>
</plist>