node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
yarn-error.log
.openzeppelin
test.ts
.DS_Store
curve.ts
curve.json
.nyc_output
typechain-types.zip
action*
package-lock.json